<section data-ng-controller="SitesController" data-ng-init="find()">
	<div class="form-group">
        <h3>Manage Sites</h3><br>
        <p>
            These are all the sites or locations associated with your company. Click on a Site ID to view/edit the details of that site. Click on any column header to sort by that column.
        </p>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-success" ng-click="create()">Add Site/Location</button>
		<div class="pull-right">
			<input type="checkbox" ng-model="isHideInactivate"> Hide Inactive Sites
		</div>
    </div>
    <div class="section-content">
        <div class="table-responsive">
            <table class="table" ng-if="authentication.user" st-table="sites" st-safe-src="safeSites">
                <thead>
                <tr>
					<th st-sort="name" ng-click="persistSort('name')" st-sort-default="sortColumn.name">Site</th>
                    <th st-sort="company.name" ng-click="persistSort('company')" st-sort-default="sortColumn.company">Company</th>
                    <th st-sort="sortByStatus" ng-click="persistSort('status')" st-sort-default="sortColumn.status">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="site in sites | matchInactivateStatus:isHideInactivate">
					<td><a ng-click="editSite(site)">{{ site.name }}</a></td>
                    <td>{{site.company.name}}</td>
                    <td>
                        <span ng-if="site.status==true">Active</span>
                        <span ng-if="site.status==false">Inactive</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div> <!-- table-responsive -->
    </div> <!-- section-content -->
</section>
