<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body style="font-family: Calibri, sans-serif;">
	<p>Dear {{name}},</p>
	<p></p>
	<p>You have been added to the BioTrapper application. Your username and temporary password are below.</p>
	<br>
	Company: {{company}}
	<br>
	Username: {{username}}
	<br>
	First Name: {{firstname}}
	<br>
	Last Name: {{lastname}}
	<br>
	Role: {{role}}
	<br>
	Email Address: {{email}}
	<br>
	Password: {{password}}
	<br>
	<p>{{url}}</p>
	<br>
	<p>After you login, click your name at top right to change your password.</p>
	<p>The {{appName}} Support Team</p>
</body>
</html>
