<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<style>
		@media print
		{
			.no-print, .no-print *
			{
				display: none !important;
			}
		}
	</style>
</head>
<body style="font-family: Calibri, sans-serif;">
	<a href="#" style="float: right;" onclick="window.print();" class="no-print">Download</a>
	<strong style="font-size: 18px;">{{checklist}}</strong><br>
	<strong>{{SiteName}}</strong><br>
	<strong>Required Frequency: {{frequency}}</strong><br>
	<br>
	Inspection Date: {{inspectionDate}} <br>
	Submitted: {{submissionDate}}<br>
	Inspector: {{inspectorName}}<br>
	<br>
	<hr>
	{% for item in questions %}
		{% if item.regularity.length %}
			{{item.question_index + 1}}. {{item.question}} ({{item.regularity}})<br>
		{% else %}
			{{item.question_index + 1}}. {{item.question}} (Non-regulatory)<br>
		{% endif %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.answer}}<br>
		{% if item.action.length %}
			{% if item.action != 'Take no action' %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conditional Action: <span style="color: #FF0000;">{{item.action}}</span><br>
			{% endif %}
			{% if item.action == 'Display custom text' %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Custom Text: {{item.customText}}<br>
			{% endif %}
		{% endif %}
		{% if item.subQuestionText.length %}
			<BLOCKQUOTE>
				{{item.subQuestionText}}<br>
				{{item.subAnswer}}<br>
				{% if item.subAction.length %}
					{% if item.subAction != 'Take no action' %}
						Conditional Action:	<span style="color: #FF0000;">{{item.subAction}}</span><br>
					{% endif %}
					{% if item.subAction == 'Display custom text' %}
						Custom Text: {{item.subCustomText}}<br>
					{% endif %}
				{% endif %}
			</BLOCKQUOTE>
		{% endif %}
		{% if item.isComment %}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment: {{item.comment}}<br>
		{% endif %}
		{% if item.isPhoto%}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Image: <br>
			{% for photo in item.pictureUrl %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{photo.url}}" target="_blank"><img src="{{photo.url}}" class="pdf_image" width="150" /></a><br>
			{% endfor %}
		{% endif %}
		{% if item.isGeoTag %}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Geo-tag: <br>
			{% for geo_info in item.geo_info %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{geo_info}}<br>
			{% endfor %}
		{% endif %}
		<hr>
	{% endfor %}
</body>
</html>
