<section data-ng-controller="CompanyCreateController" data-ng-init="initialize()">
	<ol class="breadcrumb">
		<li><a href="/#!/companies">Manage Companies</a></li>
		<li class="active">{{breadcrumbLabel}}</li>
	</ol>
	<div class="well sm container">
		<div class="form-group">
			<em>Last Edited: {{lastUpdated.format('MM/DD/YYYY HH:mm a')}} EST</em>{{editor}}
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="companyName">
					<span class="text-danger">*</span> Company Name
				</label>
				<input type="text" class="form-control " ng-model="companyName" ng-enter="save()">
			</div>
		</div>
		<label for="status">
			<span class="text-danger">*</span> Status
		</label>
		<div class="form-group">
			<label class="radio-inline">
				<input type="radio" name="optStatus" value="true" ng-model="status" ng-enter="save()"> Active
			</label>
			<label class="radio-inline">
				<input type="radio" name="optStatus" value="false" ng-model="status" ng-enter="save()"> Inactive
			</label>
		</div>
		<div class="row">
			<div data-ng-show="error" class="text-danger col-sm-12">
				<strong data-ng-bind="error"></strong>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="form-group col-sm-12">
				<button type="button" class="btn btn-success" ng-click="save()">Save</button>
				<button type="button" class="btn btn-link ml10" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</div>
	<!-- container -->
</section>
